@import '../../themeColor.scss';

header {
    display: flex;
    justify-content: space-between;
    background-color:$background;
    padding: 1em;
    a {
        all: unset;
        color: black;
        padding: 1em;
        cursor: pointer;
    }
}