<h1>Movie detail</h1>
<div class="card">
    <div>
        <p><strong>Titulo :</strong> {{movieDetail.title}}

        <img width="200" src="https://image.tmdb.org/t/p/w200/{{this.movieDetail.poster_path}}"
            alt="poster">
        </p>
    </div>
    <div>      
        <p><strong>Resumen :</strong> {{movieDetail.overview}}</p>
    </div>

    <div>
        <div *ngIf="!getMore()" >
            <a (click)="changeMore()"><h3>+</h3></a>
        </div>
        <div *ngIf="getMore()">
            <a (click)="changeMore()"><h3>-</h3></a>
        
        <p><strong>Idioma Original : </strong> {{movieDetail.original_language}}</p>
        <p><strong>Titulo original :</strong> {{movieDetail.original_title}}</p>
        <p><strong>Fecha de estreno : </strong> {{movieDetail.release_date}}</p>
    </div>
    </div>


    <a routerLink="/" routerLinkActive="active-link">
        <button>Volver a todas las peliculas</button>
    </a>
</div>