@import '../../themeColor.scss';

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        transition: all 0.5s;
        a {
            cursor: pointer;
        }
    }
}