<form class="signinForm" #signinForm="ngForm" (submit)="signIn(signinForm)">
  <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
  <div class="form-group">
    <input type="text" class="form-control" name="name" ngModel placeholder="Introduce your name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="email" ngModel placeholder="Introduce your email">
  </div>
  <div class="form-group">
    <input type="password" name="password" ngModel class="form-control" required placeholder="Introduce your password"
      id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <input type="password" name="password2" ngModel class="form-control" required placeholder="Repeat your password"
      id="exampleInputPassword2">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="adress" ngModel placeholder="Introduce your address">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>